[Unit]
Description=Stop airfi.service and run airfi_count_reset
Wants=airfi_count_reset.service airfi-restart.timer
After=airfi_count_reset.service

[Service]
Type=oneshot
ExecStart=/bin/systemctl stop airfi.service
ExecStart=/bin/systemctl stop device_payload.service
ExecStartPost=/bin/systemctl start airfi_count_reset.service
ExecStartPost=/bin/systemctl start airfi-restart.timer
ExecStartPost=/bin/systemctl start device_payload.service
